.container {
  display: flex;
  height: 100vh;
}

.list {
  overflow-y: auto; 
  margin-right: px;
  mask-type: alpha;
}



.mapStyles{
  width: "100%";
  height: "100%";
}

.MapContainer {
  height: 500px;
  width: 70%;
}

 h2{
font-size: 50px;
background-color: rgb(139, 139, 167);
color: rgb(151, 190, 88);
text-align: center;
} 

.textbox {
  padding: 20px; /* Padding để tạo khoảng cách giữa nội dung và đường viền của div */
  border: 1px solid #ccc; /* Đường viền cho div */
  border-radius: 5px; /* Bo góc cho div */
  background-color: #f0f0f0; /* Màu nền cho div */
}

.textbox p {
  margin-bottom: 10px; /* Khoảng cách giữa đoạn văn bản và nút */
}

.textbox button {
  padding: 10px 20px; /* Kích thước của nút */
  background-color: #007bff; /* Màu nền của nút */
  color: #fff; /* Màu chữ của nút */
  border: none; /* Không có đường viền */
  border-radius: 5px; /* Bo góc cho nút */
  cursor: pointer; /* Biến con trỏ thành hình bàn tay khi di chuột qua nút */
}

.textbox button:hover {
  background-color: #0056b3; /* Màu nền của nút khi di chuột qua */
}
